
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 60px;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  height: 48px;
  margin-bottom: 24px;
}

.header-right{
  text-align: right;
  position: relative;
  bottom: 70px;
}

.header-left{

  .left-links{
    position: relative;
    left: 562px;
    bottom: 40px;
  }

  .git-logo{
    position: relative;
    top: 10px;
    left: 147px;
  }
}

.search-bar-top{
  position: relative;
  left: 185px;
  bottom: 23px;
  height: 27px;
  width: 27%;

}

.repo-box{
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E5E5E5;

}

.profile-nav{
  margin-left: 60px;
  font-size: 15px;

  a{
    text-decoration: none;
    margin-right: 42px;
  }

}

.new-button{
  display: inline;
  float: right;
  right: 100px;
  bottom: 35px;
  position: relative;
}
.top-rule{
  margin-bottom: -10px;
}

.top-rule2{
  margin-bottom: -10px;
  margin-top: -10px;
}


.dropdown{
  position: relative;
  width: 60px;
  display: inline;
  left: 500px;
}

.repo-search{
  width: 40%;
  margin: 0;
  position: relative;
  top: 30px;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.org-list img{
  border-radius: 4px;
  height: 35px;
  width: 35px;
}

.name{
  display: block;
  font-size: 26px;
  line-height: 30px;
}
.avatar img{
  border-radius: 7px;
}

.user-name{
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
