
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  height: 48px;
  margin-bottom: 24px;
}

.header-right{
  text-align: right;
  position: relative;
  bottom: 70px;
}

.header-left{

  .left-links{
    position: relative;
    left: 562px;
    bottom: 40px;
  }

  .git-logo{
    position: relative;
    top: 10px;
    left: 147px;
  }
}

.search-bar-top{
  position: relative;
  left: 185px;
  bottom: 23px;
  height: 27px;
  width: 27%;

}

.repo-box{
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E5E5E5;

}

.profile-nav{
  margin-left: 60px;
  font-size: 15px;

  a{
    text-decoration: none;
    margin-right: 42px;
  }

}

.new-button{
  float: right;

}
.top-rule{
  margin-bottom: -10px;
}


.select-menu-button{
  position: relative;
  left: 600px;
}

.repo-search{
  width: 60%;
  margin: 0;
  position: relative;
  top: 30px;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
