
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 80px;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-body{
  padding-right: 175px;
  // padding-left: 10px;


}


img {
  max-width: 100%;
}
.container{
  margin-left: 80px;
  margin-right: 80px;
}

.header{
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  height: 48px;
  margin-bottom: 24px;
}

.header-right{
  text-align: right;
  position: relative;
  bottom: 70px;
}

.header-left{

  .left-links{
    position: relative;
    left: 552px;
    bottom: 40px;
    color: black;
    margin-right: 10px;
    font-weight: bold;
  }

  .git-logo{
    position: relative;
    top: 10px;
    left: 147px;
  }
}

.search-bar-top{
  position: relative;
  left: 185px;
  bottom: 23px;
  height: 27px;
  width: 27%;

}

.repo-box{
  padding-top: 10px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E5E5E5;
  max-width: 95%;

  a{
    font-size: 20px;
  }

}

.profile-nav{

  margin-top: 20px;
  font-size: 15px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 20px;
  margin-bottom: -15px;
  padding-left: 30px;
  margin-right: 40px;

  a{
    text-decoration: none;
    color: #767676;
    margin-right: 42px;
  }
  span{
    display: inline-block;
    color: #666666;
    text-align: center;
    font-weight: bold;
    background-color: #EEEEEE;
    font-size: 13px;
    border-radius: 10px;
    width: 15px;
    margin-left: 5px;
  }

}

.new-button{
  color: #fff;
  vertical-align: middle;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #6cc644;
  background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
  background-image: linear-gradient(#91dd70, #55ae2e);
  border: 1px solid #5aad35;
  display: inline;
  float: right;
  // right: 100px;
  bottom: 39px;
  position: relative;
}

.new-button-pic{
  color: white;

}

.top-rule{
  margin-bottom: -10px;
  width: 100%;
}

.top-rule2{
  margin-bottom: -10px;
  margin-top: -10px;
  width: 100%;
}


.dropdown{
  color: #333;
  position: relative;
  width: 60px;
  display: inline;
  left: 425px;
  border-radius: 3px;
  bottom: 3px;
}

.btn-default{

}

.repo-search{
  width: 53%;
  margin: 0;
  position: relative;
  top: 30px;
  margin: 0px;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.org-list img{
  border-radius: 4px;
  height: 35px;
  width: 35px;
}

.org{
  font-size: 16px;
  font-weight: bold;
}

.name{
  display: block;
  font-size: 26px;
  line-height: 30px;
  margin-top: 16px;
}
.avatar img{
  border-radius: 7px;
}

.user-name{
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  margin-top: 8px;
  margin-bottom: 20px;
}

.search-nav{
  border-bottom: 1px solid #E5E5E5;
  max-width: 95%;
  padding-bottom: 13px;

}

#repo-list{
  margin-top: -25px;
}

.left-bar{
  padding-right: 20px;
  padding-left: 65px;
}

p{
  font-size: 15px;
  margin-top: 20px;
  color: #767676;
}

.location{
  margin-bottom: 10px;
  font-size: 15px;

  svg{
  margin-right: 10px;
  }
}

.email-span{
  font-size: 15px;
  svg{
    margin-right: 7px;
  }
}

.repo-lang{
  font-size: 12px;
  margin-right: 13px;
  color: #767676;
}

relative-time{
  font-size: 12px;
  color: #767676;
}

.updated{
  font-size: 12px;
  color: #767676;
}
